@import url(http://fonts.googleapis.com/css?family=Roboto:300&subset=latin-ext);
html
{
background-color:#291c12;
background-position:contain;
background-attachment:fixed;
}
body
{
margin:0;
padding:0;
}

nav::-webkit-scrollbar {
    width: 10px;
}
 
nav::-webkit-scrollbar-track {
    background-color: rgba(220,220,220,0); 
    border-radius: 10px;
}
 
nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(60,60,60,0.7);  
}
body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    background-color: rgb(230,230,230);
}
 
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(60,60,60,0.7);  
}
div::-webkit-scrollbar {
    width: 10px;
}
 
div::-webkit-scrollbar-track {
    background-color: rgba(220,220,220,0); 
    border-radius: 10px;
}
 
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(60,60,60,0.7);  
}
#headeralias
{
width:100%;
height:80px;
float:left;
display:none;
}
#headertop
{
float:left;
z-index: 2;
width:100%;
min-width:1020px;
height:80px;
background-color:rgba(41,28,18,0);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
/*#headertop:hover
{
background-color:rgba(41,28,18,0.7);
}*/
.hbutton
{
color: #fff;
margin-left: 40px;
color: white;
margin-top: 28px;
font-size: 18px;
float:left;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
-ms-transition: all 0.6s ease;
transition: all 0.6s ease;
font-family: 'Quicksand', sans-serif;
}
#aks
{
cursor: pointer;
}
a
{
text-decoration:none;
}
.hbutton:hover
{
opacity:0.4;
}
.headertopcenter
{
min-width:1000px;
margin:0 auto;
width: 60%;
height:80px;
}
.hsocialfb
{
margin-right: 15px;
margin-top: 28px;
float:right;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
-ms-transition: all 0.6s ease;
transition: all 0.6s ease;
font-family: 'Quicksand', sans-serif;
background-image:url("img/fb.png");
background-repeat: no-repeat;
background-size:20px;
width:20px;
height:20px;
}
.hsocialfb:hover
{
opacity:0.4;
}
.hsocialyt
{
margin-right: 15px;
margin-top: 28px;
float:right;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
-ms-transition: all 0.6s ease;
transition: all 0.6s ease;
font-family: 'Quicksand', sans-serif;
background-image:url("img/yt.png");
background-repeat: no-repeat;
background-size:20px;
width:20px;
height:20px;
}
.hsocialyt:hover
{
opacity:0.4;
}
.hsocialinsta
{
margin-right: 30px;
margin-top: 28px;
float:right;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
-ms-transition: all 0.6s ease;
transition: all 0.6s ease;
font-family: 'Quicksand', sans-serif;
background-image:url("img/insta.png");
background-repeat: no-repeat;
background-size:20px;
width:20px;
height:20px;
}
.hsocialinsta:hover
{
opacity:0.4;
}
.topblock
{
float:left;
height:428px;
width:100%;
/*background-color:#291c12;*/
}
.upback
{
float:left;
height:743px;
width:100%;
background-image:url("img/upback.jpg");
background-repeat: no-repeat;
background-position:center;
}
#logo
{
height:428px;
width: 460px;
margin: auto;
background-image:url('img/logosmall.png');
background-position:center;
}
.blockd
{
float:left;
width:100%;
background-color:#291c12;
font-family: 'Roboto', sans-serif;
}
.blockl
{
float:left;
width:100%;
background-color:#d8c4b4;
font-family: 'Roboto', sans-serif;
position:relative;
}
#titleheadline-top
{
	z-index:4;
	margin-top: 93px;
	height: 2px;
	background-color: white;
	margin-bottom: 2px;
}
#titleheadline-bottom
{
	z-index:4;
	background-color: white;
	height: 8px;
}
.titleheadvid
{
z-index:10;
height:205px;
width:100%;
position: absolute;
background-image:url('img/video.png');
background-position:center;
background-repeat: no-repeat;
}
.titleheadsoc
{
z-index:6;
height:205px;
width:100%;
background-image:url('img/social.png');
background-position:center;
background-repeat: no-repeat;
margin: auto;
}
.titleheadabout
{
z-index:6;
height:205px;
width:100%;
background-image:url('img/apiemane.png');
background-position:center;
background-repeat: no-repeat;
margin: auto;
}
#titleheadvid
{
height:205px;
width:100%;
float:left;
/*background-image:url('img/line-light-down-no-brown.png');*/
background-position:center;
background-repeat: repeat;
}
#titleheadsoc
{
z-index:5;
height:205px;
width:100%;
float:left;
background-image:url('img/linedarkdown.png');
background-position:center;
background-repeat: repeat;
}
#titleheadabout
{
z-index:5;
height:205px;
width:100%;
float:left;
background-image:url('img/linelightdown.png');
background-position:center;
background-repeat: repeat;
}
#vid
{
height:30px;
width:100%;
float:left;
/*background-color:#291c12;*/
}
#soc
{
height:26px;
width:100%;
float:left;
background-color:#d8c4b4;
}
#about
{
height:26px;
width:100%;
float:left;
background-color:#291c12;
}
#vidspacer
{
margin-top: 26px;
float:left;
width: 660px;
height: 560px;
color: #291c12;
}
.centerer
{
width:1000px;
margin:0 auto;
}
#ytvid
{
border-radius:8px;
border-bottom: 5px solid #3c3c3c;
}
h4 {
font-size: 18px;
text-align: center;
line-height: 380px;
}
section {
position: absolute;
display: none;
top: 26px;
float:left;
width: 660px;
height: 560px;
color: #291c12;
border-radius:8px;
border-bottom: 5px solid #3c3c3c;
border-top: 5px solid #3c3c3c;
border-bottom-right-radius:30px;
border-bottom-left-radius:30px;
font-family: 'Roboto', sans-serif;
}
article {
font-family: 'Roboto', sans-serif;
}
section:first-of-type {
display: block;
}
nav {
margin-top:26px;
width: 220px;
float:right;
margin-right:22px;
height:560px;
overflow-y:scroll;
overflow-x:hidden;
border-radius:8px;
border-bottom: 5px solid #3c3c3c;
border-top: 5px solid #3c3c3c;
border-top-left-radius:50px;
border-bottom-left-radius:50px;
}
ul {
list-style: none;
margin:0;
}
li {
background: #c3c3c3;
width:180px;
height: 101px;
margin-left:-30px;
padding:0;
margin-top: 10px;
margin-bottom: 10px;
text-align: center;
color: #fff;
cursor: pointer;
border: 3px solid #7c7577;
border-radius:4px;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
-ms-transition: all 0.6s ease;
transition: all 0.6s ease;
}
li:hover {
opacity:0.5;
}
.active {
opacity:0.6;
}

#fbbox
{
float:left;
overflow:hidden;
border-radius:8px;
border-bottom: 5px solid #3c3c3c;
border-top: 5px solid #3c3c3c;
border-bottom-right-radius:30px;
border-bottom-left-radius:30px;

}
#instabox
{
float:right;
width: 376px;
height:700px;
overflow-y:scroll;
overflow-x:hidden;
border-radius:8px;
background-color:#fff;
border-bottom: 5px solid #3c3c3c;
border-top: 5px solid #3c3c3c;
border-top-left-radius:50px;
border-bottom-left-radius:50px;
}
#instaboxc
{
float:left;
left:0;
margin-top:10px;
margin-bottom:10px;
}
.amphoto
{
float:left;
width:680px;
height:382px;
border-radius:8px;
background:url('img/amphoto.png');
border-top: 5px solid #3c3c3c;
border-bottom: 5px solid #3c3c3c;
border-top-right-radius:30px;
border-bottom-right-radius:30px;

}
.amtxt1
{
float:left;
padding-top:8px;
width:290px;
height:382px;
border-radius:8px;
margin-left:30px;
border-top: 5px solid #3c3c3c;
border-top-left-radius:30px;
color: #291c12;
font-size:20px;
text-align:justify;
text-justify:inter-word;
font-family: 'Roboto', sans-serif;

}
.amtxt2
{
float:left;
padding-bottom:8px;
width:1000px;
min-height:160px;
margin-top:20px;
border-radius:8px;
border-bottom: 5px solid #3c3c3c;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px;
color: #291c12;
font-size:20px;
text-align:justify;
text-justify:inter-word;
font-family: 'Roboto', sans-serif;
}
.txtbox1
{
margin:10px;
margin: auto;
width:268px;
font-family: 'Roboto', sans-serif;
}
.txtbox2
{
margin: 10px;
margin: auto;
width:978px;
font-family: 'Roboto', sans-serif;
}
.txtbox3
{
margin: 10px;
margin: auto;
width:638px;
font-family: 'Roboto', sans-serif;
}
#bottomdivider
{
background:url('img/linedarkdown.png');
z-index:5;
height:205px;
width:100%;
float:left;
background-position:center;
background-repeat: repeat;
}
.bottom
{
width:100%;
height:200px;
float:left;
}
#bottommid
{
min-width:1000px;
margin:0 auto;
width: 60%;
height:240px;
color:white;
}
#c
{
background:url('img/c.png');
z-index:6;
height:205px;
width:100%;
background-position:center;
background-repeat: no-repeat;
margin: auto;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
-ms-transition: all 0.6s ease;
transition: all 0.6s ease;
}
#c:hover
{
opacity:0.7;
}